.root{
    -fx-font-family: "Segoe UI";
}

/* Sidebar */
.sidebar{
    -fx-background-color:#1f2937;
}

/* Sidebar buttons */
.sidebar-button{
    -fx-background-color: transparent;
    -fx-text-fill:white;
    -fx-font-size:14px;
}

.sidebar-button:hover{
    -fx-background-color:#374151;
    -fx-cursor:hand;
}

/* Dashboard title */
.title{
    -fx-font-size:26px;
    -fx-font-weight:bold;
}

/* Card styling */
.card{
    -fx-background-color:white;
    -fx-padding:20;
    -fx-background-radius:10;
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.1),10,0,0,5);
}